/* keep in sync with EVENT_COLORS in models.py */
.react-datepicker__tether-element-attached-top .react-datepicker__triangle, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow {
  margin-left: -8px;
  position: absolute; }

.react-datepicker__tether-element-attached-top .react-datepicker__triangle, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow, .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before {
  box-sizing: content-box;
  position: absolute;
  border: 8px solid transparent;
  height: 0;
  width: 1px; }

.react-datepicker__tether-element-attached-top .react-datepicker__triangle::before, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before {
  content: "";
  z-index: -1;
  border-width: 8px;
  left: -8px;
  border-bottom-color: #aeaeae; }

.react-datepicker__tether-element-attached-top .react-datepicker__triangle {
  top: 0;
  margin-top: -8px; }

.react-datepicker__tether-element-attached-top .react-datepicker__triangle, .react-datepicker__tether-element-attached-top .react-datepicker__triangle::before {
  border-top: none;
  border-bottom-color: #f0f0f0; }

.react-datepicker__tether-element-attached-top .react-datepicker__triangle::before {
  top: -1px;
  border-bottom-color: #aeaeae; }

.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow {
  bottom: 0;
  margin-bottom: -8px; }

.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow, .react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before {
  border-bottom: none;
  border-top-color: #fff; }

.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before {
  bottom: -1px;
  border-top-color: #aeaeae; }

.react-datepicker {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  background-color: #fff;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: 4px;
  display: inline-block;
  position: relative; }

.react-datepicker__triangle {
  position: absolute;
  left: 50px; }

.react-datepicker__tether-element-attached-bottom.react-datepicker__tether-element {
  margin-top: -20px; }

.react-datepicker__header {
  text-align: center;
  background-color: #f0f0f0;
  border-bottom: 1px solid #aeaeae;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-top: 8px;
  position: relative; }

.react-datepicker__current-month {
  margin-top: 0;
  color: #000;
  font-weight: bold;
  font-size: 13px; }

.react-datepicker__current-month--hasYearDropdown {
  margin-bottom: 16px; }

.react-datepicker__navigation {
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  width: 0;
  border: 6px solid transparent; }

.react-datepicker__navigation--previous {
  left: 10px;
  border-right-color: #ccc; }

.react-datepicker__navigation--previous:hover {
  border-right-color: #b3b3b3; }

.react-datepicker__navigation--next {
  right: 10px;
  border-left-color: #ccc; }

.react-datepicker__navigation--next:hover {
  border-left-color: #b3b3b3; }

.react-datepicker__navigation--years {
  position: relative;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.react-datepicker__navigation--years-previous {
  top: 4px;
  border-top-color: #ccc; }

.react-datepicker__navigation--years-previous:hover {
  border-top-color: #b3b3b3; }

.react-datepicker__navigation--years-upcoming {
  top: -4px;
  border-bottom-color: #ccc; }

.react-datepicker__navigation--years-upcoming:hover {
  border-bottom-color: #b3b3b3; }

.react-datepicker__month {
  margin: 5px;
  text-align: center; }

.react-datepicker__day-name,
.react-datepicker__day {
  color: #000;
  display: inline-block;
  width: 24px;
  line-height: 24px;
  text-align: center;
  margin: 2px; }

.react-datepicker__day {
  cursor: pointer; }

.react-datepicker__day:hover {
  border-radius: 4px;
  background-color: #f0f0f0; }

.react-datepicker__day--today {
  font-weight: bold; }

.react-datepicker__day--selected, .react-datepicker__day--in-range {
  border-radius: 4px;
  background-color: #216ba5;
  color: #fff; }

.react-datepicker__day--selected:hover, .react-datepicker__day--in-range:hover {
  background-color: #1d5d90; }

.react-datepicker__day--disabled {
  cursor: default;
  color: #ccc; }

.react-datepicker__day--disabled:hover {
  background-color: transparent; }

.react-datepicker__input-container {
  position: relative;
  display: inline-block; }

.react-datepicker__year-read-view {
  width: 50%;
  left: 25%;
  position: absolute;
  bottom: 25px;
  border: 1px solid transparent;
  border-radius: 4px; }

.react-datepicker__year-read-view:hover {
  cursor: pointer; }

.react-datepicker__year-read-view:hover .react-datepicker__year-read-view--down-arrow {
  border-top-color: #b3b3b3; }

.react-datepicker__year-read-view--down-arrow {
  border-top-color: #ccc;
  margin-bottom: 3px;
  left: 5px;
  top: 9px;
  position: relative;
  border-width: 6px; }

.react-datepicker__year-read-view--selected-year {
  right: 6px;
  position: relative; }

.react-datepicker__year-dropdown {
  background-color: #f0f0f0;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 30px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #aeaeae; }

.react-datepicker__year-dropdown:hover {
  cursor: pointer; }

.react-datepicker__year-option {
  line-height: 20px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.react-datepicker__year-option:first-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.react-datepicker__year-option:last-of-type {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

.react-datepicker__year-option:hover {
  background-color: #ccc; }

.react-datepicker__year-option:hover .react-datepicker__navigation--years-upcoming {
  border-bottom-color: #b3b3b3; }

.react-datepicker__year-option:hover .react-datepicker__navigation--years-previous {
  border-top-color: #b3b3b3; }

.react-datepicker__year-option--selected {
  position: absolute;
  left: 30px; }

.react-datepicker__close-icon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 0;
  outline: 0;
  padding: 0;
  vertical-align: middle; }

.react-datepicker__close-icon::after {
  background-color: #216ba5;
  border-radius: 50%;
  bottom: 0;
  box-sizing: border-box;
  color: #fff;
  content: "\00d7";
  cursor: pointer;
  font-size: 12px;
  height: 16px;
  width: 16px;
  line-height: 1;
  margin: -8px auto 0;
  padding: 2px;
  position: absolute;
  right: 7px;
  text-align: center;
  top: 50%; }

.react-datepicker__today-button {
  background: #f0f0f0;
  border-top: 1px solid #aeaeae;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px 0; }

.react-datepicker__tether-element {
  z-index: 2147483647; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  background: #eee;
  font-size: 14px;
  font-family: Open Sans, sans-serif;
  color: #444; }

#header {
  background: #fff;
  height: 68px;
  position: relative; }
  @media (max-width: 767px) {
    #header {
      height: 46px; } }
  #header .logo {
    position: absolute;
    top: 5px; }
  #header .logo-mini {
    position: absolute;
    top: 3px; }
  #header .logo-title {
    font-size: 25px;
    position: absolute;
    left: 340px;
    bottom: 10px;
    margin: 0; }
  #header .menu {
    font-size: 16px;
    position: absolute;
    right: 15px;
    bottom: 9px;
    margin: 0; }
    #header .menu li {
      display: inline-block;
      list-style: none;
      margin-left: 20px; }

a, .as-link {
  color: #3cad99;
  border: 0;
  background: transparent;
  padding: 0;
  text-align: left;
  display: inline; }
  a:hover, .as-link:hover {
    color: #766c6a;
    text-decoration: none; }

.text-warning {
  color: #f2a23f; }

.separator {
  height: 1px;
  width: 100%;
  background: #bbb;
  margin-top: 10px;
  margin-bottom: 10px; }

.top-right .glyphicon-remove {
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
  z-index: 30; }

button .glyphicon-remove {
  position: relative;
  top: 1px;
  right: 0; }

button.close {
  position: relative;
  z-index: 100; }

.inline-elem {
  margin-right: 5px; }

#messages {
  margin-top: 10px; }

.modal-content, .btn {
  border-radius: 0; }

.confirmDialog .modal-body {
  padding: 30px; }

#login-form {
  margin-top: 30px;
  text-align: center; }
  #login-form label {
    display: block;
    margin: 5px; }
  #login-form input {
    display: block;
    margin: 0 auto; }
  #login-form .btn {
    display: block;
    margin: 15px auto; }

.calendar-aside {
  width: 120px;
  float: left; }
  .calendar-aside .aside-cell {
    width: 120px;
    border: 1px solid #eeeebb;
    border-top: none;
    background: #ffffcc;
    line-height: 1;
    padding: 5px;
    font-size: 12px;
    text-transform: uppercase; }
    .calendar-aside .aside-cell:first-of-type {
      border-top: 1px solid #eeeebb; }
  .calendar-aside.two-headers .aside-cell:last-of-type {
    margin-top: -1px;
    border-top: 1px solid #eeeebb; }

.calendar-sheet-container {
  overflow: auto;
  margin-left: 120px; }
  .calendar-sheet-container.reservation-calendar {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .calendar-sheet-container .calendar-sheet {
    position: relative;
    overflow: hidden; }
    .calendar-sheet-container .calendar-sheet .calendar-header {
      position: relative; }
      .calendar-sheet-container .calendar-sheet .calendar-header .calendar-months {
        overflow: hidden; }
        .calendar-sheet-container .calendar-sheet .calendar-header .calendar-months .calendar-month {
          float: left; }
          .calendar-sheet-container .calendar-sheet .calendar-header .calendar-months .calendar-month .month-name {
            display: block; }
            .calendar-sheet-container .calendar-sheet .calendar-header .calendar-months .calendar-month .month-name.top {
              border-bottom: 1px solid #bbb;
              margin: 0 2px 4px;
              white-space: nowrap;
              overflow: hidden; }
            .calendar-sheet-container .calendar-sheet .calendar-header .calendar-months .calendar-month .month-name.bottom {
              border-top: 1px solid #bbb;
              margin: 4px 2px 0; }
      .calendar-sheet-container .calendar-sheet .calendar-header .calendar-days {
        overflow: hidden; }
        .calendar-sheet-container .calendar-sheet .calendar-header .calendar-days .calendar-day {
          float: left;
          border: 1px solid #eeeebb;
          border-left: 0;
          background: #ffffcc;
          line-height: 1; }
          .calendar-sheet-container .calendar-sheet .calendar-header .calendar-days .calendar-day.today {
            font-weight: 700;
            border-bottom: 2px solid #999; }
          .calendar-sheet-container .calendar-sheet .calendar-header .calendar-days .calendar-day.sunday {
            background: #ffefcc; }
          .calendar-sheet-container .calendar-sheet .calendar-header .calendar-days .calendar-day.one-day-1 {
            background: #ff7a7a;
            cursor: pointer; }
          .calendar-sheet-container .calendar-sheet .calendar-header .calendar-days .calendar-day.one-day-2 {
            background: #b6f38f;
            cursor: pointer; }
          .calendar-sheet-container .calendar-sheet .calendar-header .calendar-days .calendar-day.one-day-3 {
            background: #b4d9ff;
            cursor: pointer; }
          .calendar-sheet-container .calendar-sheet .calendar-header .calendar-days .calendar-day.one-day-4 {
            background: #ffbbee;
            cursor: pointer; }
          .calendar-sheet-container .calendar-sheet .calendar-header .calendar-days .calendar-day.one-day-5 {
            background: #c5a0ff;
            cursor: pointer; }
          .calendar-sheet-container .calendar-sheet .calendar-header .calendar-days .calendar-day.one-day-6 {
            background: #e4ad73;
            cursor: pointer; }
          .calendar-sheet-container .calendar-sheet .calendar-header .calendar-days .calendar-day.one-day-7 {
            background: #ffffff;
            cursor: pointer; }
          .calendar-sheet-container .calendar-sheet .calendar-header .calendar-days .calendar-day .day-number {
            display: block; }
          .calendar-sheet-container .calendar-sheet .calendar-header .calendar-days .calendar-day .day-name {
            display: block;
            font-size: 10px;
            font-weight: 400; }
          .calendar-sheet-container .calendar-sheet .calendar-header .calendar-days .calendar-day .inner-wrapper {
            padding: 8px 5px 0; }
            .calendar-sheet-container .calendar-sheet .calendar-header .calendar-days .calendar-day .inner-wrapper.more-days-1 {
              border-top: 5px solid #ff7a7a;
              padding-top: 3px;
              cursor: pointer; }
            .calendar-sheet-container .calendar-sheet .calendar-header .calendar-days .calendar-day .inner-wrapper.more-days-2 {
              border-top: 5px solid #b6f38f;
              padding-top: 3px;
              cursor: pointer; }
            .calendar-sheet-container .calendar-sheet .calendar-header .calendar-days .calendar-day .inner-wrapper.more-days-3 {
              border-top: 5px solid #b4d9ff;
              padding-top: 3px;
              cursor: pointer; }
            .calendar-sheet-container .calendar-sheet .calendar-header .calendar-days .calendar-day .inner-wrapper.more-days-4 {
              border-top: 5px solid #ffbbee;
              padding-top: 3px;
              cursor: pointer; }
            .calendar-sheet-container .calendar-sheet .calendar-header .calendar-days .calendar-day .inner-wrapper.more-days-5 {
              border-top: 5px solid #c5a0ff;
              padding-top: 3px;
              cursor: pointer; }
            .calendar-sheet-container .calendar-sheet .calendar-header .calendar-days .calendar-day .inner-wrapper.more-days-6 {
              border-top: 5px solid #e4ad73;
              padding-top: 3px;
              cursor: pointer; }
            .calendar-sheet-container .calendar-sheet .calendar-header .calendar-days .calendar-day .inner-wrapper.more-days-7 {
              border-top: 5px solid #ffffff;
              padding-top: 3px;
              cursor: pointer; }
      .calendar-sheet-container .calendar-sheet .calendar-header .tooltip-inner {
        max-width: none;
        min-width: 100px;
        width: auto; }
    .calendar-sheet-container .calendar-sheet .calendar-table {
      width: 100%; }
      .calendar-sheet-container .calendar-sheet .calendar-table .calendar-row {
        overflow: hidden; }
        .calendar-sheet-container .calendar-sheet .calendar-table .calendar-row:nth-child(even) {
          background: #fff; }
        .calendar-sheet-container .calendar-sheet .calendar-table .calendar-row:nth-child(odd) {
          background: #f3f3f3; }
        .calendar-sheet-container .calendar-sheet .calendar-table .calendar-row .calendar-cell {
          border-right: 1px solid #ddd;
          padding: 5px;
          float: left; }
        .calendar-sheet-container .calendar-sheet .calendar-table .calendar-row:last-of-type .calendar-cell {
          border-bottom: 1px solid #ddd; }
  .calendar-sheet-container .buttons-container button {
    margin: 2px 0 0 5px;
    border: none; }
  .calendar-sheet-container .room-reservation {
    position: absolute;
    text-align: center;
    line-height: 1;
    cursor: pointer; }
    .calendar-sheet-container .room-reservation.reservation-new {
      background: #eeff41;
      cursor: default; }
    .calendar-sheet-container .room-reservation .reservation-body {
      position: relative;
      height: 100%;
      padding: 9px 5px 5px;
      overflow: hidden;
      white-space: nowrap;
      font-size: 13px; }
      .calendar-sheet-container .room-reservation .reservation-body .drag {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 20px;
        cursor: ew-resize;
        z-index: 20; }
        .calendar-sheet-container .room-reservation .reservation-body .drag.drag-left {
          left: 0px; }
        .calendar-sheet-container .room-reservation .reservation-body .drag.drag-right {
          right: 0px; }
  .calendar-sheet-container.two-headers .calendar-row:last-of-type .calendar-cell {
    border-bottom: 0;
    margin-bottom: -1px; }
  .calendar-sheet-container.meals-sheet {
    display: flex; }

.room-reservation-details {
  position: absolute;
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  z-index: 50;
  width: 400px;
  max-width: 100%; }
  .room-reservation-details h4 {
    margin: 0 0 5px; }
  .room-reservation-details p {
    font-size: 12px;
    margin-bottom: 5px; }
    .room-reservation-details p .caption {
      font-weight: 700; }
    .room-reservation-details p.approval {
      margin-top: 10px; }
    .room-reservation-details p:last-of-type {
      margin-bottom: 0; }

.new-reservation {
  float: right;
  margin-left: 15px;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  z-index: 100; }
  .new-reservation .new-reservation-room {
    background: #eeff41;
    border: 1px solid #eeeebb;
    padding: 13px 10px 10px;
    position: relative;
    margin-bottom: 10px; }
    .new-reservation .new-reservation-room p {
      margin: 0;
      font-size: 13px; }
    .new-reservation .new-reservation-room .room-name {
      text-transform: uppercase;
      font-size: 16px; }
    .new-reservation .new-reservation-room .house-name-capacity {
      font-style: italic;
      font-size: 11px;
      margin-bottom: 5px; }

.reservation-modal .title {
  margin: 5px 0 0; }

.reservation-modal .form-group {
  position: relative;
  margin-bottom: 30px; }
  .reservation-modal .form-group:last-of-type, .reservation-modal .form-group.name {
    margin-bottom: 0; }
  .reservation-modal .form-group .edit-tools {
    margin: 10px 0; }

.reservation-modal label.inline {
  margin-right: 10px;
  margin-bottom: 0; }

.reservation-modal label.block {
  display: block; }

.reservation-modal textarea {
  width: 100%;
  height: 30px; }

.reservation-modal .room-reservation h4 {
  margin-bottom: 5px; }

.reservation-modal .guest {
  margin-top: 15px; }
  .reservation-modal .guest.open-extra-bed {
    padding-top: 3px;
    height: 26px; }
  .reservation-modal .guest input {
    margin-right: 5px; }
  .reservation-modal .guest .known-info {
    padding-right: 30px; }
  .reservation-modal .guest .glyphicon {
    margin-right: 5px;
    width: 20px;
    cursor: pointer; }
  .reservation-modal .guest .glyphicon-chevron-up, .reservation-modal .guest .glyphicon-chevron-down, .reservation-modal .guest .glyphicon-pencil {
    color: #3cad99; }
  .reservation-modal .guest .glyphicon-remove {
    color: #d9534f; }
  .reservation-modal .guest .glyphicon-pencil, .reservation-modal .guest .glyphicon-remove {
    margin-left: 15px; }
  .reservation-modal .guest .guest-address, .reservation-modal .guest .guest-phone {
    margin-left: 30px;
    margin-top: 5px; }
  .reservation-modal .guest .guest-suggestions {
    background: #ffffcc;
    margin: 10px 25px;
    border: 1px solid #eeeebb;
    max-height: 184px;
    overflow-y: auto; }
    .reservation-modal .guest .guest-suggestions .suggestion-row {
      padding: 0 6px;
      cursor: pointer;
      display: flex;
      align-items: center;
      height: 30px; }
      .reservation-modal .guest .guest-suggestions .suggestion-row:hover {
        background: #ffefcc; }
        .reservation-modal .guest .guest-suggestions .suggestion-row:hover .last-visit {
          font-size: 11px;
          display: inline; }
      .reservation-modal .guest .guest-suggestions .suggestion-row .guest-info {
        margin-right: 5px; }
      .reservation-modal .guest .guest-suggestions .suggestion-row .last-visit {
        display: none;
        font-size: 11px;
        margin-left: 4px; }
      .reservation-modal .guest .guest-suggestions .suggestion-row .glyphicon-exclamation-sign, .reservation-modal .guest .guest-suggestions .suggestion-row .glyphicon-time {
        color: #d9534f;
        margin-right: 0;
        margin-left: 6px;
        width: auto; }

.create-reservation label {
  font-weight: 400; }
  .create-reservation label.inline {
    width: 80px; }

.create-reservation textarea.mail-communication {
  height: 100px; }

.reservation-details .form-group-button {
  z-index: 100;
  margin-right: 5px; }

.reservation-details .room-reservation select {
  padding: 5px 2px 4px;
  margin-bottom: 10px; }

.reservation-details .room-reservation .date {
  margin: 0 0 10px; }

.reservation-details .room-reservation .form-control {
  width: 150px;
  display: inline-block; }

.reservation-details .room-reservation .input-group-addon {
  display: none; }

.reservation-details .room-reservation .guests {
  margin-bottom: 20px; }

.reservation-details .meals h4 {
  margin-bottom: -20px; }

.reservation-details .meals input {
  width: 40px;
  height: 22px; }

.reservation-details .mail-communication .mail-communication-box {
  width: 100%;
  height: 200px;
  overflow: auto;
  padding-right: 5px; }

.reservation-details .mail-communication textarea {
  height: 200px; }

.reservation-details .edit-label {
  float: left;
  padding-top: 8px;
  color: #bbb; }

.stats .room-reservation {
  cursor: default; }

.guests .guests-count {
  font-size: 18px; }

.guests .glyphicon-exclamation-sign {
  color: #d9534f;
  margin-right: 6px; }

.week-selector {
  margin-bottom: 15px; }
  .week-selector .btn {
    margin-right: 5px; }
  .week-selector .week-date {
    display: inline-block;
    margin-left: 10px; }

.sub-section {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  overflow: auto; }
  .sub-section .sub-section-table {
    border: 1px solid #ddd; }
    .sub-section .sub-section-table thead {
      background: #ffffcc;
      border: 1px solid #eeeebb; }
      .sub-section .sub-section-table thead td {
        padding: 5px 10px;
        white-space: nowrap;
        border-right: 1px solid #eeeebb; }
    .sub-section .sub-section-table tbody tr {
      cursor: pointer; }
      .sub-section .sub-section-table tbody tr:nth-child(even) {
        background: #fff; }
      .sub-section .sub-section-table tbody tr:nth-child(odd) {
        background: #f3f3f3; }
      .sub-section .sub-section-table tbody tr td {
        padding: 5px 10px;
        border-right: 1px solid #ddd; }
        .sub-section .sub-section-table tbody tr td:last-child {
          border: none; }
        .sub-section .sub-section-table tbody tr td .visits-count {
          padding: 0 10px; }
    .sub-section .sub-section-table .keep-center {
      text-align: center; }
    .sub-section .sub-section-table .keep-right {
      text-align: right; }

.guest-details-modal .glyphicon-chevron-up, .guest-details-modal .glyphicon-chevron-down, .guest-details-modal .glyphicon-remove, .guest-details-modal .glyphicon-remove, .event-details-modal .glyphicon-chevron-up, .event-details-modal .glyphicon-chevron-down, .event-details-modal .glyphicon-remove, .event-details-modal .glyphicon-remove {
  cursor: pointer; }

.guest-details-modal .guest-detail .form-row, .guest-details-modal .event-detail .form-row, .event-details-modal .guest-detail .form-row, .event-details-modal .event-detail .form-row {
  margin: 0 -15px 15px;
  overflow: auto; }

.guest-details-modal .guest-detail .form-label, .guest-details-modal .event-detail .form-label, .event-details-modal .guest-detail .form-label, .event-details-modal .event-detail .form-label {
  text-align: right;
  margin-bottom: 0;
  padding-top: 7px; }

.guest-details-modal .guest-detail .form-element, .guest-details-modal .event-detail .form-element, .event-details-modal .guest-detail .form-element, .event-details-modal .event-detail .form-element {
  width: 100%;
  padding: 6px 12px; }

.visits-popup.popover {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.visits-popup.small {
  padding: 0px 10px; }

.diff-positive {
  color: #008000; }

.diff-negative {
  color: #d9534f; }

.event-color-sample {
  width: 30px;
  height: 30px;
  float: left;
  border: 1px solid #bbb;
  margin-right: 5px;
  padding: 5px 0 0 7px;
  cursor: pointer; }

.event-color-preview-1 {
  background: #ff7a7a; }

.event-color-preview-2 {
  background: #b6f38f; }

.event-color-preview-3 {
  background: #b4d9ff; }

.event-color-preview-4 {
  background: #ffbbee; }

.event-color-preview-5 {
  background: #c5a0ff; }

.event-color-preview-6 {
  background: #e4ad73; }

.event-color-preview-7 {
  background: #ffffff; }
